// VARIABLES
// add @import "./src/assets/scss/filtered-dropdown.scss"; in the begining of the <style> section of the targeted vue file
#filter-dropdown .flex-scroll, #deal-dropdown .flex-scroll {
  overflow-y: scroll;
  max-height: calc(100vh - 300px);
  width: 350px;
  .filter-row {
    display: flex;
    .name {
      flex-grow: 1;
      line-height: 23px;
    }
    .control {
      .css-checkbox {
        margin: 0;
      }
    }
  }
}