// VARIABLES
// add @import "./src/assets/scss/variables.scss"; in the begining of the <style> section of the targeted vue file
$white: #ffffff;
$black: #000;
$blue: #5c90d2;
$light-blue: #edf6fd;
$red: #d26a5c;
$block-border: #ebebeb;
$dark-blue: #333F52;
$amethyst: #a48ad4;
$city: #ff6b6b;
$flat: #44b4a6;
$modern: #14adc4;
$smooth: #ff6c9d;
$gray: #999999;
$blue2: #70b9eb;
$orange: #f3b760;
$lightred: #f9eae8;
$tablerowbg: #f9f9f9;