.notifications,
.vue-notification-group {
  padding-top: 15px !important;
  width: 400px !important;
  left: calc(50% - 200px) !important;
  z-index: 9999999 !important;

  &.notification-wrapper {
    padding-top: 10px !important;
  }
}
.notif {
  padding: 10px;
  margin: 0 5px 5px;
  color: #ffffff;
  font-size: 14px;
  &.warn {
    background-color: #fdf3e5;
    color: #efa231;
    -webkit-box-shadow: 0 2px #fbe8cd;
    box-shadow: 0 2px #fbe8cd;
  }
  &.error {
    background-color: #f9eae8;
    color: #c54736;
    -webkit-box-shadow: 0 2px #f4d8d4;
    box-shadow: 0 2px #f4d8d4;
  }
  &.success {
    background-color: #e0f5e9;
    color: #34a263;
    -webkit-box-shadow: 0 2px #cdefdb;
    box-shadow: 0 2px #cdefdb;
  }
}